@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');


body, html, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

.center {
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}


